%script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
%script{ :src => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js' }
%link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-responsive.no-icons.min.css', :type => 'text/css' }
%link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css', :type => 'text/css' }

.jumbotron
  .container
    %h1 WELCOME TO RPS
    %p Friendly game of Rock Paper Scissors with friends in a tournament style battle.

    #join_form
      %form{onsubmit: 'return false;'}
      %p
        %label Nickname:
        %button Join Game
