!!!
%html
  %head
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
    %script{ :src => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-responsive.no-icons.min.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css', :type => 'text/css' }
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body
    = yield

    %b checking to see if the page was auto-reloaded...

